<div style="max-width: 900px;margin: auto;font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif">
        <!-- Header -->
        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <td width="25%" style="">
                                <img src="https://media.licdn.com/dms/image/C4D0BAQE6oogIdcWViw/company-logo_200_200/0?e=2159024400&v=beta&t=ee2DuUCEsNddc750rA3TusEN0iyI5i6m8QykG-5qffs" style="width:190px; max-width:300px;">
                            </td>
                            <td width="75%" style="padding-top: 18px; padding-right:30px; text-align: right;">
                                <span style="font-size:18px; font-weight:bold; color:#555555;">SOLICITUD DE PERMISOS</span><br>
                                <span style="font-weight:bold; color:#555555;">Codigo:</span> <span>FOR-3.20-14</span><br>
                                <span style="font-weight:bold; color:#555555;">Versión:</span> <span> 2.0</span><br>
                                <span style="font-weight:bold; color:#555555;">Fecha de Vigencia:</span><span> 2018-10-01 </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- formulario datos personales -->
        <div class="background-datos" style="padding-top:20px; text-align: center;">
            <table width="98%">
                <tr style="text-align: left;">
                    <!-- TITULOS -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="font-weight:bold; color:#555555;">Nombre:</span><br>
                        <span style="font-weight:bold; color:#555555;">Fecha de Solicitud:</span><br>
                        <span style="font-weight:bold; color:#555555;">Periodo:</span><br>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="color:#555555;">Lorena Hernandez</span><br>
                        <span style="color:#555555;">28/05/2019</span><br>
                        <span style="color:#555555;">001</span><br>
                    </td>
                    <!-- DESCRIPCION -->
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="font-weight:bold; color:#555555;">Cedula de Ciudadania:</span><br>
                        <span style="font-weight:bold; color:#555555;">Unidad de Negocio:</span><br>
                    </td>
                    <td width="24.5%" style="padding: 10px;margin: 10px;">
                        <span style="color:#555555;">C.C.1.004.569.789</span><br>
                        <span style="color:#555555;">Recursos Humanos</span><br>
                    </td>
                </tr>
            </table>
        </div>

        <!-- Tipo de permiso -->
        <div style="border:2px solid #f2f2f2; padding:15px;">
            <div style="padding-top:20px; ">
                <table width="98%">
                    <tr style="text-align: left;">
                        <!-- TITULOS -->
                        <td width="24.5%" style="padding: 3px;margin: 10px;">
                            <span style="font-weight:bold; color:#555555;">Usuario:</span><br>
                            <span style="font-weight:bold; color:#555555;">Primer día de Vacaciones:</span><br>
                            <span style="font-weight:bold; color:#555555;">Último día de Vacaciones:</span><br>
                            <span style="font-weight:bold; color:#555555;">Día de Retorno a Trabajar:</span><br>
                        </td>
                        <td width="24.5%" style="padding: 10px;margin: 10px;">
                            <span style="color:#555555;">Lorena Hernandez</span><br>
                            <span style="color:#555555;">(DD/MMM/YY)</span><br>
                            <span style="color:#555555;">(DD/MMM/YY)</span><br>
                            <span style="color:#555555;">(DD/MMM/YY)</span><br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="background:#f2f2f2; padding:15px;">
            <div style="padding-top:20px;">
                <table width="98%">
                    <tr style="text-align: left;">
                        <!-- TITULOS -->
                        <td width="30%" style="padding: 3px;margin: 10px;">
                            <span style="font-weight:bold; color:#555555; font-size:15px;">A.Número de Días Aprovado por la Ley:</span><br>
                            <span style="font-weight:bold; color:#555555; font-size:15px;">B.Número de Días Previamente Tomados en este Periodo:</span><br>
                            <span style="font-weight:bold; color:#555555; font-size:15px;">C.Número de Días que Solicita</span><br>
                            <span style="font-weight:bold; color:#555555; font-size:15px;">D.Total de Días Pendientes por Tomar Este Periodo:</span><br>
                        </td>
                        <td width="30%" style="padding: 10px;margin: 10px;">
                            <span style="color:#555555;"><span style="font-weight:bold; color:#555555; font-size:14px;">A.</span>15</span><br>
                            <span style="color:#555555;"><span style="font-weight:bold; color:#555555; font-size:14px;">B.</span>Automatico</span><br>
                            <span style="color:#555555;"><span style="font-weight:bold; color:#555555; font-size:14px;">C.</span>Maximo Saldo</span><br>
                            <span style="color:#555555;"><span style="font-weight:bold; color:#555555; font-size:14px;">D.</span>Nuevo Saldo</span><br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div style="border:2px solid #f2f2f2; text-align:center;">
            <h4>Revisión por RH</h4>
            <span>Rechaza Devuelve al Solicitante para que lo Edite</span>
        </div>
        <div style="border:2px solid #f2f2f2; padding:15px;">
            <div class="background-datos" style=" text-align: center;  padding-top:90px;">
                <table width="98%">
                    <tr style="text-align: center;">
                        <!-- FIRMAS  -->
                        <td width="49%" style="padding: 10px;margin: 10px;">
                            <img width="190" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Firma_de_Juan_de_la_Cierva.svg/1280px-Firma_de_Juan_de_la_Cierva.svg.png" alt=""><br>
                            <span style="font-weight:bold; color:#555555;">INTEGRANTE</span><br>
                        </td>
                        <td width="49%" style="padding: 10px;margin: 10px;">
                            <img width="180" src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Firma_de_Fernando_Lugo.png" alt=""><br>
                            <span style="font-weight:bold; color:#555555;">LÍDER DE UNIDAD DE NEGOCIO</span><br>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="border: 2px solid #f2f2f2; padding:20px;">
            <!-- OBSERVACIONES  -->
            <div class="title-form">
            <textarea name="" id="" cols="120" rows="8" placeholder="Observaciones"></textarea>
            </div>
            <!--Firma de Gerente -->
            <div style="text-align:center;">
                <img width="180px" src="http://www.uideporte.edu.ve/WEB/img/firmaRH.png" alt=""><br>
                <span style="font-size:14px;">GERENTE ADMINISTRATIVO Y FINANCIERO <br> Y/O <br> DIRECTORA DE CRECIMIENTO HUMANO </span>
            </div>
        </div>
        <!-- FOOTER  -->
        <div style="padding-top: 40px; padding-bottom: 10px; text-align:center;">
            <span style="color:#555555; font-weight: bold;">Araujo Ibarra Consultora internacional S.A.S</span>
            <br>
            <span style="color:#555555;">Calle 98 No.22 64 Oficina 910. Edificio Calle 100.Bogota D.C-COLOMBIA</span><br>
            <span style="color:#555555;">PBX +57 1 651 15 11 / FAX: +57 1 623 41 60</span><br>
        </div>
        <!-- End Main Content -->
    </div>
